# Loops

## Why do we need loops?

Assume you want to print all the numbers from 1-10. You could go:

In [1]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

1
2
3
4
5
6
7
8
9
10

What if you wanted all the numbers till 1,000? I'm not typing that

Instead, you write:

In [ ]:
# for loop

## Looping over items in a list

In [5]:
lyrics_to_500_miles = [' But', 'I', 'would', 'walk', '500', 'miles,', '\n', 'And', 'I', 'would', 'walk', '500', 'more,', '\n', 'Just', 'to', 'be', 'the', 'man', '\n Who', 'walks', 'a', 'thousand', 'miles', 'to', 'fall', 'down', 'at', 'your', 'door']

 But I would walk 500 miles,
 And I would walk 500 more,
 Just to be the man
 Who walks a thousand miles to fall down at your door

# Exercises

### 1. Print the squares of all numbers from 1 to 10

### 2. Write a loop to sum the first N natural numbers

### 3. Write a script to print this pattern:

*
**
***
****
*****

### 4. Write a program that, given a number N, prints the sum of all odd numbers from 1 to N, and all odd numbers from 1 to N

If $N = 5$, $sum_{odd} = 1 + 3 + 5 = 9$ and $sum_{even} = 2 + 4 = 6$

### 5. Write a program that uses 2 numbers, N and M, and prints the numbers of multiples of M from 1 to N

For example, if $N = 10$ and $M=2$, the program should print 5, since there are 5 multiples of 2 from 1 to 10 i.e. 2, 4, 6, 8, 10

## Bonus

### Given a list of positive integers, find the smallest positive integer that is not in the list

For example:

Input - [1, 2, 3, 5, 6, 9]

Output - 4

In [8]:
nums = [1,2,3,5,6,7]

n = 1
while True:
    if n not in nums:
        print(n)
        break
    n += 1

4

## For the hotshots

### Find and print the first N ugly numbers. Ugly numbers are numbers whose only prime factors are 2, 3 or 5, with 1 included by convention. Eg: All numbers from 1 to 10 besides 7, 10000, 432000